<% stylesheet_link_tag 'application' %>


<h1 class="section__headline">New Itinerary</h1>

<%= render 'form', itinerary: @itinerary %>
<div class="newPath btn btn-info">
<%= link_to 'Back', itineraries_path %>
</div>
