<div class="newPageContainer">
<h1 class="newPath">New Itinerary</h1>

<%= render 'form', itinerary: @itinerary %>
<div class="newPath btn btn-info">
<%= link_to 'Back', itineraries_path %>
</div>
</div>
