<div>
    <h1 class="section__headline">Post a Ride</h1>

    <%= render 'form', itinerary: @itinerary %>
    <div class="newPath btn btn-info">
    <%= link_to 'Back', itineraries_path %>
    </div>
</div>
