
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<% stylesheet_link_tag 'application' %>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/css/nanoscroller.min.css'>

<%= render 'chatrooms/messages' %>

<div class="wrap" data-pos="0">
		<div class="headbar">
			<i class="zmdi zmdi-arrow-left btnBack"></i> <span>Find Your Next Roadtrip</span>
		</div>
		<div class="header">
			<div class="bg"></div>
			<div class="filter"></div>
			<div class="title">
				<div class="fromPlace">
					<span>N</span><span>Y</span><span>C</span>
				</div>
				<span class="separator"><i class="zmdi zmdi-city"></i></span>
				<div class="toPlace">
					<span>M</span><span>I</span><span>A</span>
				</div>
			</div>
			<div class="map"></div>
		</div>

		<div class="content">
			<section>
				<div class="form">
					<div class="control select">
						<div class="control-head">
							<i class="zmdi zmdi-pin"></i>
							<span class="close"><i class="zmdi zmdi-close"></i></span>
							<div>
								<h6>From</h6>
								<span class="airport-name" data-role="from">NYC, New York</span>
							</div>
						</div>
						<div class="control-body">
							<ul class="select-index"></ul>
							<div class="nano">
							    <div class="nano-content">
							    	<ul class="select-data"></ul>
							    </div>
							</div>
						</div>
					</div>
					<div class="control select">
						<div class="control-head">
							<i class="zmdi zmdi-pin"></i>
							<span class="close"><i class="zmdi zmdi-close"></i></span>
							<div>
								<h6>To</h6>
								<span class="airport-name" data-role="to">MIA, Florida</span>
							</div>
						</div>
						<div class="control-body">
							<ul class="select-index"></ul>
							<div class="nano">
							    <div class="nano-content">
							    	<ul class="select-data"></ul>
							    </div>
							</div>
						</div>
					</div>
					<div class="control dateinput">
						<div class="control-head">
							<i class="zmdi zmdi-calendar"></i>
							<span class="close"><i class="zmdi zmdi-close"></i></span>
							<div class="control-item">
								<h6>Depart</h6>
								<span>MON, 8 May</span>
							</div>
							<div class="control-item">
								<h6>Return</h6>
								<span>One Way</span> <!--Quitar si no se selecciona-->
							</div>
						</div>
						<div class="control-body">
							<div class="info-message">
								<i class="zmdi zmdi-info"></i>
								<!-- <span>Select the depar date then the return date if you need a round trip ticket</span> -->
							</div>
							<div class="calendar">
								<div class="month">
									<i class="zmdi zmdi-chevron-left"></i>
									<span>May</span>
									<i class="zmdi zmdi-chevron-right"></i>
								</div>
								<div class="week">
									<span>S</span>
									<span>M</span>
									<span>T</span>
									<span>W</span>
									<span>T</span>
									<span>F</span>
									<span>S</span>
								</div>
								<div class="days"></div>
							</div>
						</div>
					</div>
					<div class="control radio passengers">
						<i class="zmdi zmdi-accounts"></i>
						<div class="control-item">
							<h6>Passengers</h6>
							<label>
								<input type="radio" name="passengers" value="0" checked="checked">
								<div><span>1</span>&times;<i class="zmdi zmdi-male-alt"></i></div>
							</label>

						</div>
						<section class="spinner">
							<button data-action="plus"><i class="zmdi zmdi-plus"></i></button>
							<button data-action="minus"><i class="zmdi zmdi-minus"></i></button>
						</section>
					</div>

					<div class="control">
						<button class="btnSearch">Find Itinerary</button>
					</div>

				</div>
				<div class="list">
					<div class="nano">
					    <div class="nano-content">

					    </div>
					</div>
				</div>

				<div class="ticket">
					<section>

					</section>
					<button class="btnBook">BOOK FLIGHT</button>
					<!-- <button class="btnHome">BACK TO HOME</button> -->
					<div class="loader">Loading...</div>
				</div>

			</section>
		</div>

	</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.nanoscroller/0.8.7/javascripts/jquery.nanoscroller.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>

<script>

  var _slicedToArray = function () {function sliceIterator(arr, i) {var _arr = [];var _n = true;var _d = false;var _e = undefined;try {for (var _i = arr[Symbol.iterator](), _s; !(_n = (_s = _i.next()).done); _n = true) {_arr.push(_s.value);if (i && _arr.length === i) break;}} catch (err) {_d = true;_e = err;} finally {try {if (!_n && _i["return"]) _i["return"]();} finally {if (_d) throw _e;}}return _arr;}return function (arr, i) {if (Array.isArray(arr)) {return arr;} else if (Symbol.iterator in Object(arr)) {return sliceIterator(arr, i);} else {throw new TypeError("Invalid attempt to destructure non-iterable instance");}};}(); // Play with the inputs -->
  var flights = [
  {
    currency: "EUR",
    price: 128.67,
    carrier: "KL",
    time: "2h 30min",
    nodes: ["CDG 2017-05-30T09:35+02:00 AMS 2017-05-30T11:15+02:00"] },

  {
    currency: "EUR",
    price: 138.70,
    carrier: "AF",
    time: "2h 30min",
    nodes: ["CDG 2017-05-30T12:35+02:00 AMS 2017-05-30T13:50+02:00"] },

  {
    currency: "EUR",
    price: 151.41,
    carrier: "BA",
    time: "2h 30min",
    nodes: ["CDG 2017-05-30T11:40+02:00 AMS 2017-05-30T12:55+02:00"] },

  {
    currency: "EUR",
    price: 174.70,
    carrier: "KL",
    time: "2h 30min",
    nodes: ["CDG 2017-05-30T18:35+02:00 AMS 2017-05-30T19:50+02:00"] },

  {
    currency: "EUR",
    price: 204.70,
    carrier: "AF",
    time: "2h 30min",
    nodes: ["CDG 2017-05-30T11:40+02:00 AMS 2017-05-30T12:55+02:00"] }];



  var carrier = {
    "AF": "Air France",
    "KL": "KLM Royal Dutch Airlines",
    "BA": "British Airways" };


  var airports = [{ "name": "New York", "city": "NYC", "country": "USA", "IATA": "NYC" }, { "name": "Florida", "city": "Miami", "country": "USA", "IATA": "MIA" }, { "name": "California", "city": "Los Angeles", "country": "USA", "IATA": "LA" }];

  (function () {

    var _airports = _.groupBy(airports, function (o) {return o.country;}),
    selectIndex = [],
    selectData = [];

    _.each(_airports, function (countryList, countryName) {
      var firstLeter = countryName.split('')[0];
      selectData.push("<li class=\"sep\" data-index=\"" + firstLeter + "\">" + countryName + "</li>");
      selectIndex.push("<li>" + firstLeter + "</li>");

      _.each(countryList, function (airport, i) {
        selectData.push("<li data-iata=\"" + airport.IATA + "\" data-city=\"" + airport.city + "\">\n\t\t\t\t" +
        airport.IATA + ", " + airport.name + "</li>");
      });
    });

    $('.select ul.select-index').html(_.uniq(selectIndex).join(''));
    $('.select ul.select-data').html(selectData.join(''));


    // Calendar days
    var days = [30];
    for (var i = 0; i < 31; i++) {days.push(i);}

    var daysRender = _.map(days, function (i) {
      return "<span>" + (i + 1) + "</span>";
    });

    $('.calendar .days').html(daysRender.join(''));
    $('.calendar .days span').eq(8).addClass('checked');

    // Flight Results
    doFlightsRender(true);


    // Events
    // Open inputs
    $('.control:not(.open) .control-head').on('click', function (evt) {
      $(evt.currentTarget).parent('.control').addClass('open');
    });

    $('.control .close').on('click', function (evt) {
      var z = $(evt.currentTarget).closest('.control');
      setTimeout(function () {z.removeClass('open');}, 50);
    });

    // SpinnerInput add/substract action
    $('.spinner button').on('click', function (evt) {
      var isAdding = evt.currentTarget.getAttribute('data-action') == 'plus',
      $input = $('input[name="passengers"]:checked'),
      $control = $input.siblings('div').find('span'),
      value = parseInt($control.text());

      if (isAdding)
      value++;else
      if (value !== 0)
      value--;

      $control.text(value);
    });

    // SelectInput find index
    $('.select-index').on('click', 'li', function (evt) {
      var index = evt.currentTarget.textContent,
      $nano = $(evt.currentTarget).parent('.select-index').siblings('.nano'),
      el = $nano.find("li.sep[data-index=\"" + index + "\"]")[0];

      $nano.find('.nano-content').animate({ scrollTop: el.offsetTop }, 600);
    });

    // SelectInput set data
    $('.select-data').on('click', 'li:not(.sep)', function (evt) {
      var text = evt.currentTarget.textContent,
      iata = evt.currentTarget.getAttribute('data-iata'),
      $select = $(evt.currentTarget).closest('.select'),
      $nameContainer = $select.find('.airport-name');

      if ($nameContainer.data('role') == 'from') {
        var _iata = iata.split('');
        var div = $('.header .fromPlace').addClass('rotate');
        var span = $('.header .fromPlace span');
        span.eq(0).text(_iata[0]);
        span.eq(1).text(_iata[1]);
        span.eq(2).text(_iata[2]);
        setTimeout(function () {return div.removeClass('rotate');}, 900);
        //$('.xfrom').text(iata);
      } else
      {
        var _iata = iata.split('');
        var div = $('.header .toPlace').addClass('rotate');
        var span = $('.header .toPlace span');
        span.eq(0).text(_iata[0]);
        span.eq(1).text(_iata[1]);
        span.eq(2).text(_iata[2]);
        setTimeout(function () {return div.removeClass('rotate');}, 900);
        //$('.xto').text(iata);
      }

      $nameContainer.text(text);
      $select.toggleClass('open');

      $(evt.currentTarget).addClass('selected').siblings('li').removeClass('selected');
    });

    // Date input
    $('.calendar .days span').on('click', function (evt) {
      var $this = $(evt.currentTarget),
      day = evt.currentTarget.textContent;

      $this.addClass('checked').siblings('span').removeClass('checked');

      var date = new Date("5/" + day + "/2017");var _date$toDateString$sp =
      date.toDateString().split(' '),_date$toDateString$sp2 = _slicedToArray(_date$toDateString$sp, 3),wd = _date$toDateString$sp2[0],m = _date$toDateString$sp2[1],d = _date$toDateString$sp2[2];
      $('.dateinput .control-item span').eq(0).text(wd.toUpperCase() + ", " + d + " " + m);
    });


    $('.btnBack').on('click', function (evt) {
      var wrap = document.querySelector('.wrap'),
      index = parseInt(wrap.getAttribute('data-pos'));

      $('.ticket button.btnBook').text('Book Flight');
      wrap.setAttribute('data-pos', index - 1);
    });

    // // Search button
    // $('.btnSearch').on('click', function (evt) {
    //   doFlightsRender(false);
    //   setTimeout(function () {
    //     document.querySelector('.wrap').setAttribute('data-pos', 1);
    //   }, 50);
    // });

    $('.ticket button').on('click', function (evt) {
      var $button = $(evt.currentTarget);
      var $loader = $('.loader').show();
      $button.text('Booking...');

      setTimeout(function () {
        $loader.hide();
        $button.html('<i class="zmdi zmdi-check-circle"></i> Flight Booked');
        $button.addClass('success');
      }, 1200);
    });

    // Select Flight
    $('.list').on('click', 'article', function (evt) {
      var index = parseInt(evt.currentTarget.getAttribute('data-index')),
      flight = flights[index];var _flight$nodes$0$split =

      flight.nodes[0].split(' '),_flight$nodes$0$split2 = _slicedToArray(_flight$nodes$0$split, 4),from = _flight$nodes$0$split2[0],t1 = _flight$nodes$0$split2[1],to = _flight$nodes$0$split2[2],t2 = _flight$nodes$0$split2[3];

      var p = $('.radio.passengers label span'),
      peopleTotal = 0,
      people = _.map(p, function (el, i) {
        var v = parseInt(el.textContent),
        str = '';

        if (i == 0 && v)
        str = v + " Adults";
        if (i == 1 && v)
        str = v + " Kids";
        if (i == 2 && v)
        str = v + " Elders";

        peopleTotal += v;

        return str;
      });

      from = $('.fromPlace span').text();
      to = $('.toPlace span').text();

      var time1 = new Date(t1),
      time2 = new Date(t2);

      var clase = $('input[name="seat"]:checked').val(),
      dates = $('.dateinput .control-item span'),
      place1 = _.findWhere(airports, { IATA: from }),
      place2 = _.findWhere(airports, { IATA: to });

      var flightRender = "\n\t\t\t<div class=\"title\">\n\t\t\t\t<div>\n\t\t\t\t\t<small>" +


      time1.toLocaleTimeString().replace(':00', '') + "</small>\n\t\t\t\t\t<span>" +
      from + "</span>\n\t\t\t\t\t<small>" +
      place1.city + "</small>\n\t\t\t\t</div>\n\t\t\t\t<span class=\"separator\"><i class=\"zmdi zmdi-airplane\"></i></span>\n\t\t\t\t<div>\n\t\t\t\t\t<small>" +



      time2.toLocaleTimeString().replace(':00', '') + "</small>\n\t\t\t\t\t<span>" +
      to + "</span>\n\t\t\t\t\t<small>" +
      place2.city + "</small>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<div class=\"row\">\n\t\t\t\t<div class=\"cell\">\n\t\t\t\t\t<small>Passengers</small><span>" +




      _.compact(people).join(',') + "</span>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"cell\">\n\t\t\t\t\t<small>Class</small><span>" +


      clase + "</span>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<div class=\"row\">\n\t\t\t\t<div class=\"cell\">\n\t\t\t\t\t<small>Departure</small><span>" +




      dates[0].textContent + "</span>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"cell\">\n\t\t\t\t\t<small>Return</small><span>" +


      dates[1].textContent + "</span>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<div class=\"row\">\n\t\t\t\t<div class=\"cell\">\n\t\t\t\t\t<small>Airline</small><span>" +




      carrier[flight.carrier] + "</span>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"cell\">\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<div class=\"total\">\n\t\t\t\t<small>Total</small> <span>&euro;" +





      (flight.price * peopleTotal).toFixed(2) + "</span>\n\t\t\t</div>\n\t\t";



      $('.ticket section').html(flightRender);
      setTimeout(function () {
        document.querySelector('.wrap').setAttribute('data-pos', 2);
      }, 50);
    });

    // Init scroll
    $(".nano").nanoScroller();


    function doFlightsRender(isInit) {
      var flightsRender = _.map(flights, function (o, i) {
        var sumText = "";var _o$nodes$0$split =
        o.nodes[0].split(' '),_o$nodes$0$split2 = _slicedToArray(_o$nodes$0$split, 4),from = _o$nodes$0$split2[0],t1 = _o$nodes$0$split2[1],to = _o$nodes$0$split2[2],t2 = _o$nodes$0$split2[3];

        var d1 = new Date(t1),
        d2 = new Date(t2);

        if (!isInit) {
          var ppl = $('.radio.passengers label span'),
          sum = parseInt(ppl.eq(0).text()) + parseInt(ppl.eq(1).text()) + parseInt(ppl.eq(2).text());

          sumText = sum + " people &euro;" + (o.price * sum).toFixed(2);
          from = $('.fromPlace span').text();
          to = $('.toPlace span').text();
        }

        var img;
        if (o.carrier == 'KL')
        img = 'https://dl.dropbox.com/s/02ve5kn75rpo0s3/KL.png';else
        if (o.carrier == 'BA')
        img = 'https://dl.dropbox.com/s/6fpuy898zzuk7nn/BA.png';else

        img = 'https://dl.dropbox.com/s/dhmufay65yer2jz/AF.png';

        return "<article data-index=\"" + i + "\">\n\t\t\t\t<div class=\"img\">\n\t\t\t\t\t<img src=\"" +

        img + "\" alt=\"ualogo\" />\n\t\t\t\t</div>\n\t\t\t\t<div class=\"info\">\n\t\t\t\t\t<span class=\"time\">" +


        o.time + "</span>\n\t\t\t\t\t<span class=\"airline\">\n\t\t\t\t\t\t" +

        d1.toLocaleTimeString().replace(':00', '') + " - \n\t\t\t\t\t\t" +
        d2.toLocaleTimeString().replace(':00', '') + "\n\t\t\t\t\t</span>\n\t\t\t\t\t<span>" +

        carrier[o.carrier] + " " + from + " - " + to + "</span>\n\t\t\t\t\t<span>Non-Stop</span>\n\n\t\t\t\t\t<h5><small>" +


        sumText + "</small> &euro;" + o.price + "</h5>\n\t\t\t\t</div>\n\t\t\t</article>";


      });

      $('.list .nano-content').html(flightsRender.join(''));
    }

  })();
  </script>


