<div id="containAbout">
  <h1 class="section__headline">About Us</h1>

  <section class="groupImages">
    <div class="firstUser">
      <div class="stitched">
        <%= image_tag "albert.jpg", class: "images"%>
      </div>
      <h1 class="nameTitle">Albert Fundora</h1>
    </div>
    <div class="secondUser">
      <div class="stitched">
        <%= image_tag "jerry.jpg", class: "images"%>
      </div>
      <h1 class="nameTitle">Jerry Trujillo</h1>
    </div>
  </section>
  <section class="groupImages">
    <div class="thirdUser">
      <div class="stitched">
        <%= image_tag "ryan.jpg", class: "images"%>
      </div>
      <h1 class="nameTitle">Ryan Naamani</h1>
    </div>
    <div class="fourthUser">
      <div class="stitched">
        <%= image_tag "maya.jpg", class: "images"%>
      </div>
      <h1 class="nameTitle">Maya Kano</h1>
    </div>
  </section>
</div>

